/*
    copybutton
*/
button.copybtn {
    cursor: pointer;
    top: .4em;
    right: .25em;
    width: 1.5em;
    height: 1.5em;
}

.o-tooltip--left::after {
    font-size: .9em;
    padding: .4em .8em;
    border-radius: 4px;
}
