/*
Furo theme CSS variables:
https://github.com/pradyunsg/furo/blob/main/src/furo/assets/styles/variables/_index.scss
*/
:root {
    --color-primary: #0094ff;            /* custom variable */
    --color-primary--dark: #0086e8;      /* custom variable */
    --color-primary--light: #6cc1ff;     /* custom variable */
    --color-brand-primary: var(--color-primary--dark);
    --color-brand-content: var(--color-primary--dark);

    --toc-font-size: 0.82em;
    --toc-font-size--level1: 0.92rem;  /* custom variable */
    --toc-title-font-size: var(--font-size--small--3);
    --toc-item-spacing-horizontal: 1.1rem;
    --toc-item-spacing-vertical: 0.4em;
    --toc-item-spacing-vertical--level1: .9rem;
    --color-toc-item-text--level1: var(--color-brand-content);  /* custom variable */
    --color-toc-item-text--level2: #696969;  /* custom variable */
    --color-toc-item-text: var(--color-toc-item-text--level2);

    --code-font-size: var(--font-size--small);

    --admonition-font-size: var(--font-size--small);
    --admonition-title-font-size: var(--font-size--normal);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-brand-primary: var(--color-primary--light);
        --color-brand-content: var(--color-primary--light);
        --color-toc-item-text--level1: white;  /* custom variable */
        --color-toc-item-text--level2: #c0c0c0;
    }
}

body {
    font-size: 1em;
}

h1, h2, h3 {
    color: var(--color-brand-primary);
}

#user-guide .caption {
    display: none;
}

.sidebar-logo {
    margin: .5em auto 0;
}

code.literal {
    font-size: var(--font-size--small);
}

.versionchanged, .versionadded {
  margin: .5em 0;
  padding: .5em .8em;
  background: var(--color-admonition-title-background--note);
  border-radius: 5px;
}

.versionadded {
  background: var(--color-admonition-title-background--tip);
}

.versionmodified {
    font-weight: 600;
}

.field-list.simple {
  margin-top: 1em;
}

.toc-drawer {
    padding-right: .25rem;
}

.toc-tree {
    line-height: 1.2;
}

/* 1st-level toc */
.toc-tree > ul > li > ul > li {
    padding-top: var(--toc-item-spacing-vertical--level1);
}

.toc-tree > ul > li > ul > li > .reference {
    color: var(--color-toc-item-text--level1);
    font-size: var(--toc-font-size--level1);
}

table.docutils td {
    padding: .2em .3em;
}
